{includeFiles}

export default class {className} extends {componentName} {

{variable}

	public static URL:string = "{uiPath}";

	public static createInstance():{className} {
{createInstance}
	}

	public constructor() {
		super();
	}

	protected onConstruct(): void {
{content}
	}
}